# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [197]:
# Import pandas
import pandas as pd

In [198]:
# Exercise 1: Cleaning Column Names
df_cars_policies = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv") # Leer la database desde un CSV
df_cars_policies.rename(columns={"ST": "STATE"}, inplace = True) #Cambiar nombre de columna
df_cars_policies.columns = df_cars_policies.columns.str.lower().str.replace(" ", "_") # Poner todos los nombres de columna en minÃºscula
df_cars_policies

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [199]:
# Exercise 2: Cleaning invalid Values

In [200]:
# Verificar valores Ãºnicos columna gender
df_cars_policies.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [201]:
df_cars_policies.gender.value_counts()

gender
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [202]:
# Corregir valores de gÃ©nero (CON OPCIÃ“N MAP Y FILL NA)
# ESTO ES MEJOR EVITARLO, y siempre que podamos generar un NaN usemos un replace()
gender_mapping = {"Femal": "F", "female": "F", "Male": "M"}
df_cars_policies['gender'] = df_cars_policies['gender'].map(gender_mapping).fillna(df_cars_policies['gender'])
df_cars_policies.gender.value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [203]:
# Corregir valores de gÃ©nero (CON OPCIÃ“N MAP y diccionario completo)
# SI TENEMOS EL DICCIONARIO COMPLETO podemos usar solo el map() en vez del replace()
gender_mapping = {"Femal": "F", "female": "F", "Male": "M", "F": "F", "M": "M"} #VERIFICAR CON replace() para dejarlo mÃ¡s limpio. Y asÃ­ no tener que reescribir el diccionario entero.
df_cars_policies["gender"] = df_cars_policies["gender"].map(gender_mapping)
df_cars_policies.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [204]:
df_cars_policies.gender.value_counts()

gender
F    502
M    452
Name: count, dtype: int64

In [205]:
# Verificar valores Ãºnicos columna state
df_cars_policies.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [206]:
df_cars_policies.state.value_counts()

state
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [207]:
# Corregir valores de states
state_mapping = {"WA": "Washington", "AZ": "Arizona", "Cali": "California"}
df_cars_policies["state"] = df_cars_policies["state"].map(state_mapping).fillna(df_cars_policies["state"])
df_cars_policies.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [208]:
df_cars_policies.state.value_counts()

state
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

In [209]:
# Cambiar Bachelors por Bachelor en "education"
df_cars_policies["education"] = df_cars_policies["education"].replace("Bachelors", "Bachelor")
df_cars_policies.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [210]:
# Quitar porcentaje % de "Customer lifetime value"
df_cars_policies["customer_lifetime_value"] = df_cars_policies["customer_lifetime_value"].replace('%', '', regex=True)
df_cars_policies["customer_lifetime_value"].value_counts()

customer_lifetime_value
445811.34     4
251459.20     4
272535.64     3
578018.22     3
684615.03     3
             ..
245357.08     1
507566.27     1
321497.94     1
1227534.31    1
899704.02     1
Name: count, Length: 1027, dtype: int64

In [211]:
# Cambiar en "vehicle_class", "Sports Car", "Luxury SUV" and "Luxury Car" por "Luxury"
vehicle_class_fix = {"Sports Car": "Luxury", "Luxury Car": "Luxury", "Luxury SUV": "Luxury"}
df_cars_policies["vehicle_class"] = df_cars_policies["vehicle_class"].replace(vehicle_class_fix)
df_cars_policies.vehicle_class.value_counts()

vehicle_class
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [212]:
# Customer lifetime value convert to numeric
df_cars_policies["customer_lifetime_value"].unique()

array([nan, '697953.59', '1288743.17', ..., '2031499.76', '323912.47',
       '899704.02'], dtype=object)

In [213]:
# Convert the column to numeric (float)
df_cars_policies["customer_lifetime_value"] = pd.to_numeric(df_cars_policies["customer_lifetime_value"], errors="coerce")

# Check the unique values after conversion
df_cars_policies["customer_lifetime_value"].unique()

array([       nan,  697953.59, 1288743.17, ..., 2031499.76,  323912.47,
        899704.02])

In [214]:
# Number of open complaints correct format
df_cars_policies["number_of_open_complaints"].value_counts()

number_of_open_complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [215]:
df_cars_policies['number_of_open_complaints'].str.split('/').str[1]

0         0
1         0
2         0
3         0
4         0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number_of_open_complaints, Length: 4008, dtype: object

In [216]:
df_cars_policies['number_of_open_complaints'] = df_cars_policies['number_of_open_complaints'].str.split('/').str[1]
df_cars_policies["number_of_open_complaints"] = pd.to_numeric(df_cars_policies["number_of_open_complaints"], errors='coerce', )
df_cars_policies.number_of_open_complaints.value_counts()

number_of_open_complaints
0.0    830
1.0    138
2.0     50
3.0     34
4.0     13
5.0      6
Name: count, dtype: int64

In [233]:
df_cars_policies.number_of_open_complaints.unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [242]:
df_cars_policies["number_of_open_complaints"] = df_cars_policies.number_of_open_complaints.astype(int, errors= 'ignore') #AquÃ­ no consigue convertirlos a integers, da algÃºn tipo de error con los nans.
df_cars_policies["number_of_open_complaints"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4008 entries, 0 to 4007
Series name: number_of_open_complaints
Non-Null Count  Dtype
--------------  -----
1071 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB

In [240]:
df_cars_policies.head(10)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [217]:
# Your code here

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [218]:
# Your code here

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [219]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [220]:
# Your code here